[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
discord-py = "*"
sqlalchemy = "*"
pymysql = "*"
requests = "*"
sentry-sdk = "*"
pyyaml = "*"
pycryptodome = "*"

[requires]
python_version = "3.8"

[scripts]
bot = "python morpheushelper.py"
