[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
sqlalchemy = "*"
pymysql = "*"
requests = "*"
sentry-sdk = "*"
pyyaml = "*"
aiohttp = "*"
pydrocsid = "*"
"discord.py" = "*"
aioredis = "*"

[dev-packages]
flake8 = "*"
black = "==20.8b1"

[scripts]
bot = "python morpheushelper/morpheushelper.py"
flake8 = "flake8 . --count --max-line-length=120 --statistics --show-source"
black = "black -l 120 ."
