[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sqlalchemy = "*"
pymysql = "*"
requests = "*"
sentry-sdk = "*"
pyyaml = "*"
pycryptodome = "*"
discord.py = "*"
pydrocsid = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
bot = "python morpheushelper.py"
flake8 = "flake8 . --count --max-line-length=120 --statistics --show-source"
